.input_field {
    color: wheat; 
    margin-top: 20px;
    padding: 7px 15px;
    width: 450px;
    background-color: #80745c;
    border: 1px solid #524939;
    border-radius: 5px; 
}

.apply-button{
    color: wheat;
    background-color: #80745c;
    padding: 9px 10px;
    margin-left: 10px;
    font-size: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.apply-coupon-part-disable {
    opacity: 0.3;
    background-color: lightgrey;
    user-select: none;
    pointer-events: none;
}