
.apply-coupon-part-disable {
    opacity: 0.3;
    background-color: lightgrey;
    user-select: none;
    pointer-events: none;
    height: 80px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.apply-coupon-part {
    background-color: #fff;
    height: 80px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input_field {
    width: 400px; 
    height: 30px;
    padding: 5px 10px; 
    border-top: 2px solid rgb(54, 47, 29); 
    border-bottom: 2px solid rgb(132, 125, 107);
    color: rgb(209, 202, 184); 
    background-color: rgb(148, 141, 123);
    border-radius: 5px;
    margin-left: -5%;
    margin-top: 20px;
}

.apply-button {
    width: 100px;
    height: 43px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(209, 202, 184);
    background-color: rgb(148, 141, 123);
    background-image: linear-gradient(rgb(148, 141, 123),rgb(99, 92, 74));
}