.content {
    display: flex;
    align-items: self-start;
    padding: 50px 30px 20px 30px;
}

.text {
    font-size: 12px;
    color: gray;
    margin: 10px 30px 1px 30px;
}

.text_2 {
    margin-top: 0;
}
.text-wrapper {
    text-align: left;
    margin-left: 20px;
}

.burger-img {
    width: 80px;
    margin-left: -70px;
}

.title-cheese-burger {
    margin-left: 30px;
    font-size: 18px ;
}